@import url("./stylesGeneral.css");

#particles-js {
  position: relative;
  background-color: #3c096c;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles-js img {
  position: absolute;
  color: #ffff;
}

.card-producto:hover {
  filter: drop-shadow(0px 0px 20px #000000);
}
.img-producto {
  height: 250px;
}

@media (min-width: 768px) {
  #particles-js {
    height: 500px;
  }
}
