@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgb(107, 33, 168),
    rgb(76, 29, 149),
    rgb(107, 33, 168)
  );
  font-family: "Geologica", sans-serif;
}
p {
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
}

header .btnLogin {
  border: 1px solid #000;
}

header .btnRegister,
.btnComprar {
  color: #ffff;
  background-color: #7b2cbf;
}

.dropdown-item:focus {
  color: #000;
  background-color: white;
}

header .btnLogin:hover,
header .btnRegister:hover,
.btnComprar:hover {
  color: #ffff;
  background-color: #3c096c;
}

footer {
  margin-top: auto;
}
